@model  GieAndVince.Models.ViewModel.SalesViewModel

@{
    ViewBag.Title = "Index";
    var dateStr = Model.date != null ? Model.date.ToString("yyyy-MM-dd") : DateTime.Now.ToString("yyyy-MM-dd");
}

<h2>Index</h2>

<a href="Index?f=d&d=@dateStr" class="btn btn-success" onclick="">Sort by Day</a>
<a href="Index?f=w&d=@dateStr" class="btn btn-success" onclick="">Sort by Week</a>
<a href="Index?f=m&d=@dateStr" class="btn btn-success" onclick="">Sort by Month</a>
<a href="Index?f=y&d=@dateStr" class="btn btn-success" onclick="">Sort by Year</a>

<input id="date-filter" type="date" value="@dateStr" onchange="filterDate()" />

<div class="lh-50">&nbsp;</div>
<table class="table">
    <tr>
        <th>
            @if (Model.filter == "d")
            {
                @Model.date.ToString("MMMM dd, yyyy")
            }
            else if (Model.filter == "w")
            {
                @:Week @Model.week
            }
            else if (Model.filter == "m")
            {
                @Model.date.ToString("MMM yyyy")
            }
            else if (Model.filter == "y")
            {
                @Model.date.ToString("yyyy")
            }
        </th>
        <th>
            Total
        </th>
        @if (Model.filter == "d")
        {
            <th></th>
        }
    </tr>

@foreach (var item in Model.sales) {
    <tr>
        <td>
            @if (Model.filter == "d")
            {
                @item.Date.ToString("hh:mm tt")
            }
            else if (Model.filter == "w")
            {
                @Model.date.ToString("dddd, MMM, dd yyyy")
            }
            else if (Model.filter == "m")
            {
                @Model.date.ToString("MMM dd, yyyy")
            }
            else if (Model.filter == "y")
            {
                @Model.date.ToString("MMM yyyy")
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalSales)
        </td>

        @if (Model.filter == "d")
        {
            <td>
                <button data-id="@item.SalesManagementId" onclick="showDetails(this)">Details</button>
                @*@Html.ActionLink("Delete", "Delete", new { id=item.SalesManagementId })*@
            </td>
        }
    </tr>
}

</table>

<div id='salesDetails' class='modal fade'>
    <div class="modal-dialog">
        <div class="modal-content">
            <table id="details">
                <thead>
                    <tr>
                        <th>Menu</th>
                        <th>Price</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                    <tr><td colspan="3">Time: <span id="time"></span></td></tr>
                    <tr><td colspan="3">Total Price: <span id="total-price"></span></td></tr>
                    <tr><td colspan="3">Cashier: <span id="cashier"></span></td></tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<script>
    $(function () {

        
    });

    function showDetails(self) {

        var id = $(self).data("id");
        console.log(id);
        $.ajax({
            type: "GET",
            url: "/SalesManagement/GetDetails",
            data: { "Id": id },
            success: function (data) {
                console.log(data);
                if (data != '0') {
                    data = JSON.parse(data);
                    buildDetails(data);
                }
            },
            error: function (data) {
                console.log("err");
            }
        })
    }

    function buildDetails(json)  {
        console.log(json.length);
        var html = "";

        $("#details tbody").html("");

        for (var i = 0; i < json.length - 1 ; i++) {
            var row = json[i];
            html += "<tr><td>" + row.name + "</td> \
            <td>" + row.price + "</td> \
            <td>" + row.quantity + "</td></tr>";
        }


        $("#details tbody").append(html);

        $("#time").text(json[json.length - 1].time);
        $("#total-price").text(json[json.length - 1].total);
        $("#cashier").text(json[json.length - 1].cashier);

        $("#salesDetails").modal("show");
    }

    function filterDate() {
        var date = $("#date-filter").val();
        document.location = "/SalesManagement/Index?f=@Model.filter&d=" + date;  
    }

</script>
