@model  GieAndVince.Models.ViewModel.SalesViewModel
@{
    ViewBag.Title = "Index";
    var dateStr = Model.date != null ? Model.date.ToString("yyyy-MM-dd") : DateTime.Now.ToString("yyyy-MM-dd");
}
<style>

    .flex-grid {
        display: flex;
        flex-wrap: wrap;
    }

    .flex-auto {
        flex: auto;
    }

    .btn {
        flex: auto;
        margin: 0 3px;
    }

    #date-filter {
        justify-content: center;
        font-size: 20px;
    }
</style>
<h2>Sales Record</h2>
<div class="flex-grid">
    <a href="Index?f=d&d=@dateStr" class="btn btn-success" onclick="">By Transaction</a>
    <a href="Index?f=w&d=@dateStr" class="btn btn-success" onclick="">By Day</a>
    <a href="Index?f=m&d=@dateStr" class="btn btn-success" onclick="">By Week</a>
    <a href="Index?f=y&d=@dateStr" class="btn btn-success" onclick="">By Month</a>
</div>
<div class="lh-50">&nbsp;</div>
<div class="flex-grid flex-auto">
    <input id="date-filter" type="date" value="@dateStr" onchange="filterDate()" />
</div>

<div class="lh-50">&nbsp;</div>
<div class="scrollbar" id="style-1">
    <table class="table">
        <tr>
            <th>
                @if (Model.filter == "d")
                {
                    @Model.date.ToString("MMMM dd, yyyy")
                }
                else if (Model.filter == "w")
                {
                    @:Week @Model.week
                }
                else if (Model.filter == "m")
                {
                    @Model.date.ToString("MMM yyyy")
                }
                else if (Model.filter == "y")
                {
                    @Model.date.ToString("yyyy")
                }
            </th>
            <th>
                Total
            </th>
            @if (Model.filter == "d")
            {
                <th></th>
            }
        </tr>
        @foreach (var item in Model.sales)
        {
            <tr>
                <td>
                    @if (Model.filter == "d")
                    {
                        @item.Date.ToString("hh:mm tt")
                    }
                    else if (Model.filter == "w")
                    {
                        @Model.date.ToString("dddd, MMM, dd yyyy")
                    }
                    else if (Model.filter == "m")
                    {
                        @Model.date.ToString("MMM dd, yyyy")
                    }
                    else if (Model.filter == "y")
                    {
                        @Model.date.ToString("MMM yyyy")
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalSales)
                </td>
                @if (Model.filter == "d")
                {
                    <td>
                        <button data-id="@item.SalesManagementId" onclick="showDetails(this)">Details</button>
                        @*@Html.ActionLink("Delete", "Delete", new { id=item.SalesManagementId })*@
                    </td>
                }
            </tr>
        }
    </table>
    </div>
    <div id='salesDetails' class='modal fade'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div align="center">
                    <table id="details">
                        <thead>
                            <tr>
                                <th class="col-md-4">Menu</th>
                                <th class="col-md-4">Price</th>
                                <th class="col-md-4">Quantity</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr><td colspan="3"><strong>&nbsp;&nbsp;&nbsp;Time:</strong> <span id="time"></span></td></tr>
                            <tr><td colspan="3"><strong>&nbsp;&nbsp;&nbsp;Total Price:</strong> <span id="total-price"></span></td></tr>
                            <tr><td colspan="3"><strong>&nbsp;&nbsp;&nbsp;Cashier:</strong> <span id="cashier"></span></td></tr>
                        </tfoot>
                    </table>
                </div>

            </div>
        </div>
    </div>
    <script>
    $(function () {


    });

    function showDetails(self) {

        var id = $(self).data("id");
        console.log(id);
        $.ajax({
            type: "GET",
            url: "/SalesManagement/GetDetails",
            data: { "Id": id },
            success: function (data) {
                console.log(data);
                if (data != '0') {
                    data = JSON.parse(data);
                    buildDetails(data);
                }
            },
            error: function (data) {
                console.log("err");
            }
        })
    }

    function buildDetails(json)  {
        console.log(json.length);
        var html = "";

        $("#details tbody").html("");

        for (var i = 0; i < json.length - 1 ; i++) {
            var row = json[i];
            html += "<tr><td class='col-md-4'>" + row.name + "</td> \
            <td class='col-md-4'>" + row.price + "</td> \
            <td class='col-md-4'>" + row.quantity + "</td></tr>";
        }


        $("#details tbody").append(html);

        $("#time").text(json[json.length - 1].time);
        $("#total-price").text(json[json.length - 1].total);
        $("#cashier").text(json[json.length - 1].cashier);

        $("#salesDetails").modal("show");
    }

    function filterDate() {
        var date = $("#date-filter").val();
        document.location = "/SalesManagement/Index?f=@Model.filter&d=" + date;
    }

    </script>
