@model GieAndVince.Models.ViewModel.OrderCartViewModel

@{
    ViewBag.Title = "Index";
}
<style>
    .btn-category {
        min-height:40px;
        min-width: 125px;
    }
    .btn-items {
        min-height:60px;
        min-width:125px;
    }
    .lh-20 {
        line-height: 15px;
    }
</style>
<h2 align="center"><strong>Transaction</strong></h2>
<div class="lh-50">&nbsp;</div>

<div class="col-md-8">
    <div class="form-group">
        <div class="col-md-2">
            <div class="lh-20">&nbsp;</div>
            <button class="btn btn-warning btn-category">Pasta</button>
            @foreach (var pasta in Model.MenuRecipeList.Where(x => x.MIRCategory == "Pasta"))
            {
                <button href="javascript:void(0);" class="buttonItem btn-items" data-id="@pasta.MIRID" value="@Html.DisplayFor(o => pasta.MIRName)">@Html.DisplayFor(o => pasta.MIRName)</button>
            }
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-2">
            <button class="btn btn-warning btn-category">Drinks</button>
            @foreach (var drinks in Model.MenuRecipeList.Where(x => x.MIRCategory == "Drinks"))
            {
                <button href="javascript:void(0);" class="buttonItem btn-items" data-id="@drinks.MIRID" value="@Html.DisplayFor(o => drinks.MIRName)">@Html.DisplayFor(o => drinks.MIRName)</button>
            }
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-2">
            <button class="btn btn-warning btn-category">Sandwiches</button>
            @foreach (var sw in Model.MenuRecipeList.Where(x => x.MIRCategory == "Sandwiches"))
            {
                <button href="javascript:void(0);" class="buttonItem btn-items" data-id="@sw.MIRID" value="@Html.DisplayFor(o => sw.MIRName)">@Html.DisplayFor(o => sw.MIRName)</button>
            }
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2">
            <button class="btn btn-warning btn-category">Pika Pika</button>
            @foreach (var pk in Model.MenuRecipeList.Where(x => x.MIRCategory == "Pika Pika"))
            {
                <button href="javascript:void(0);" class="buttonItem btn-items" data-id="@pk.MIRID" value="@Html.DisplayFor(o => pk.MIRName)">@Html.DisplayFor(o => pk.MIRName)</button>
            }
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-2">
            <button class="btn btn-warning btn-category">Dessert</button>
            @foreach (var dessert in Model.MenuRecipeList.Where(x => x.MIRCategory == "Dessert"))
            {
                <button href="javascript:void(0);" class="buttonItem btn-items" data-id="@dessert.MIRID" value="@Html.DisplayFor(o => dessert.MIRName)">@Html.DisplayFor(o => dessert.MIRName)</button>
            }
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-2">
            <button class="btn btn-warning btn-category">Rice Meal</button>
            @foreach (var rm in Model.MenuRecipeList.Where(x => x.MIRCategory == "Rice Meal"))
            {
                <button href="javascript:void(0);" class="buttonItem btn-items" data-id="@rm.MIRID" value="@Html.DisplayFor(o => rm.MIRName)">@Html.DisplayFor(o => rm.MIRName)</button>
            }
        </div>
    </div>

</div>
<div class="col-md-4">
    <h2>Orders</h2>
    <form action="Payment" method="post">
        <p>
            <input class="btn-link" type="submit" value="Purchase>>"/>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Order Name:
                    </th>
                    <th>
                        Quantity:
                    </th>
                    <th>
                        Price (each):
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="tbl-body">
                @{ 
                    int index = 0;
                }
                @foreach (var item in Model.OrderItems)
                {
                    @Html.HiddenFor(o => o.OrderItems[index].RecordID);
                    @Html.HiddenFor(o => o.OrderItems[index].MIRID);
                    @Html.HiddenFor(o => o.OrderItems[index].MIRName);
                    @Html.HiddenFor(o => o.OrderItems[index].MIRPrice);
                    @Html.HiddenFor(o => o.OrderItems[index].Count);
                    index++;

                    <tr id="row-@item.RecordID" class="appendOrder" data-menu-id-row="@item.MIRID">
                        <td>
                            @Html.DisplayFor(o => item.MIRName)
                        </td>
                        <td data-menu-id="@item.MIRID" id="item-count-@item.RecordID" class="order-status">
                            @Html.DisplayFor(o => item.Count)
                        </td>
                        <td>
                            @Html.DisplayFor(o => item.MIRPrice)
                        </td>
                        <td>
                            <a href="#" class="RemoveLink close" data-id="@item.RecordID" data-price="@item.MIRPrice" onclick="deductQuantity(this)">x</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="form-horizontal">
            <div class="container">
                <div class="form-group">
                    <label class="col-md-6">Subtotal:</label>
                    <div class="col-md-6" id="total-price">
                        @Model.OrderTotal
                        @Html.HiddenFor(o => o.OrderTotal)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-6">Items:</label>
                    <div class="col-md-6" id="item-count">
                        @Model.OrderCount
                        @Html.HiddenFor(o => o.OrderCount)
                    </div>
                </div>
            </div>
        </div>
    </form>
    
</div>

@section scripts{
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
        //Adding item to cart
        var buttonUrl = '/OrderCart/AddToTransaction';

        $(".buttonItem").click(function () {
            //debugger;
            var $buttonClicked = $(this);
            var id = $buttonClicked.data('id');
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: buttonUrl,
                contentType: "application/json; charset=utf-8",
                data: { "Id": id },
                datatype: "json",
                success: function (data) {

                    if ($("tr[data-menu-id-row='"+id+"']").html() != undefined) {
                        $('.appendOrders').append(data);
                        $("td[data-menu-id='" + id + "']").text($("td[data-menu-id='" + id + "']").text() * 1 + 1);
                    }
                    else {
                        createNewRow(JSON.parse(data));
                    }
                    $("#item-count").text($("#item-count").text() * 1 + 1);
                    $("#total-price").text(($("#total-price").text()*1) + (JSON.parse(data).Price*1));
                },
                error: function (msg) { }
            })
        });

        function createNewRow(data) {

            var row = "<tr id=\"row-" + data.OrderId + "\" class=\"appendOrder\" data-menu-id-row=\"" + data.Id + "\" > \
                <td>" + data.Name + "</td> \
                <td data-menu-id=\"" + data.Id + "\" id=\"item-count-" + data.OrderId + "\" class=\"order-status\">1</td> \
                <td>" + data.Price + "</td> \
                <td><a href=\"#\" class=\"RemoveLink close\" data-id=\"" + data.OrderId + "\" data-price=\"" + data.Price + "\" onclick=\"deductQuantity(this)\">x</a></td> \
            </tr >";

            $("#tbl-body").append(row);

        }

                //End adding item to cart
        function deductQuantity(self) {
            //Get the id from the link
            var recordToDelete = $(self).data("id");
            console.log("hello");
            if (recordToDelete != '') {
                //Perform tha ajax post
                $.post("/OrderCart/RemoveFromTransaction", { "id": recordToDelete },
                    function (data) {
                        //Successful request get here
                        //Update the page elements
                        if (data.ItemCount == 0) {
                            //$('#row-' + data.DeleteId).text(data.ItemCount);
                            $('#row-' + data.DeleteId).remove();
                        }

                        $('#order-total').text(data.OrderTotal);
                        $('#update-message').text(data.Message);
                        $('#order-status').text('Order(' + data.OrderCount + ')');

                        $("#total-price").text(($("#total-price").text() * 1) - ($(self).data("price") * 1));
                        $("#item-count").text(($("#item-count").text() * 1) - 1);

                        if ($("#item-count-" + recordToDelete).text() * 1 > 1) {
                            $("#item-count-" + recordToDelete).text($("#item-count-" + recordToDelete).text() * 1 - 1);
                        }
                    });
            }
        }

        function handleUpdate() {
            //Load ANd deserialize the returned JSON data
            var json = context.get_data();
            var data = Sys.Serialization.JavaScriptSerializer.deserialize(json);

            //Update the page elements
            if (data.ItemCount == 0) {
                $('#row-' + data.DeleteId).text(data.ItemCount);
            }

            $('#item-count-' + data.DeleteId).text(data.ItemCount);

            $('#order-total').text(data.OrderTotal);
            $('#update-message').text(data.Message);

            $('#order-status').text('Order(' + data.OrderCount + ')');
        }
       
    </script>
}